:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
}
html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #000;
}

body {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  background: #000;
  background: linear-gradient(
    243.08deg,
    #232323 13.85%,
    #585656 51.56%,
    #3d3d3d 70.41%,
    #2e2d2d 89.27%
  );
}

@font-face {
  font-family: 'Digital';
  src: local('digital-7'), url(../public/fonts/digital-7.ttf) format('truetype');
}
