.calculator {
  .screen {
    background: #000000;
    box-shadow: inset 0px 4px 6px #5e5e5e;
    border-radius: 5px;
    grid-area: screen;
    height: 246px;
    position: relative;
  }
}

.screen-input {
  position: absolute;
  top: 78px;
  left: 46px;

  input {
    background: #d6d6d6;
    box-shadow: inset -1px 3px 9px 2px #838383;
    border-radius: 5px;
    padding-right: 9px;
    width: 400px;
    height: 125px;
    font-size: 72px;
    font-family: 'Digital', sans-serif;
    text-align: right;
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

button {
  color: #fff;
  border-radius: 10px;
  font-size: 1.25rem;
  &:focus {
    box-shadow: none;
  }
}

.button-shadow {
  box-shadow: inset 0px 6px 4px 1px rgba(255, 255, 255, 0.25);
}

.active {
  box-shadow: none;
}

.primary-btn {
  background: #080808;
  border: 1px solid #3b3b3b;
  @extend .button-shadow;
}

.secondary-btn {
  background: #515151;
  border: 1px solid #737373;
  @extend .button-shadow;
}

.accent-btn {
  background: #eb5b13;
  border: 1px solid #f18651;
  @extend .button-shadow;
}

.plus-btn {
  grid-row: 3 / -1;
  grid-column: 5;
}
