.container {
  display: grid;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.calculator-grid {
  width: 506px;
  height: auto;
  display: grid;
  grid-template-areas:
    'screen'
    'body';
}

.calc-body {
  display: grid;
  padding: 75px 0 44px 0;
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(4, 46px);
  column-gap: 14px;
  row-gap: 22px;
  text-align: center;
  justify-content: center;
  // height: 100%;
  background: linear-gradient(146.99deg, #f7f6f6 18.71%, rgba(225, 225, 225, 0.5) 102.42%);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
